@model Heaventure.Data.Constellation

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-lg">
    <div class="col-md-4">
        <img src="@Url.Content(Model.ImageUrl)" class="img-responsive img-rounded" />
    </div>

    <div class="col-md-8">
        <h2 class="mt-0">@Model.Name</h2>

        <p>@Model.Description</p>

        <dl class="dl-horizontal">
            <dt>Number of Stars</dt>

            <dd>@Model.StarCount</dd>

            <dt>Added</dt>

            <dd>@Model.CreatedAt</dd>
        </dl>
    </div>
</div>
