@model Heaventure.Data.Constellation

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-lg">
    <div class="col-md-4">
        <img src="@Url.Content(Model.ImageUrl)" class="img-responsive img-rounded" />
    </div>

    <div class="col-md-8">
        <h2 class="mt-0">@Model.Name</h2>

        <p>@Model.Description</p>

        <p><strong>@Smart.Format(Resources.StarCount, Model.StarCount)</strong></p>

        <p class="small">@Model.CreatedAt.ToString("f")</p>
    </div>
</div>
